extends partials/layout.pug

block content
  .welcome
    .welcomeText
    h1 Welcome to Reddit Dew

    each score in articles
      div #{score.title} #{score.url}
      span(class="score") #{score.score}
      form(method='POST' action=`/${score.id}/up`)
        button(type="submit" id=score.title class="btn btn-success votes") +
      form(method='POST' action=`/${score.id}/down`)
        button(type="submit" id=score.title class="btn btn-danger votes") -
